body {
	font-family:sans-serif;
	margin-left:20%;
	margin-right:20%;
	background-image:url(c3-eo-stamp-bg-nigra.png);
	background-repeat:no-repeat;
	background-color:black;
	background-size:cover;
	color:white;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}
a,a:visited {
	text-decoration:none;
	color:#009900;
}
.teksto {
	/* Ne funkciu tro malbone sen JavaScript: Kaŝu ĉiujn tekstojn */
	/* La EO teksto havas rektan formaton 'display:inline' */
	display:none;
	line-height:120%;
}
.teksto_dmd {
	/* Ne funkciu tro malbone sen JavaScript: Kaŝu ĉiujn tekstojn */
	/* La EO teksto havas rektan formaton 'display:inline' */
	display:none;
	direction:rtl;
}

#lingvoelektilo {
	/* Kaŝu la lingvoelektilon ĝis ni scias ĉu JavaScript disponeblas */
	display:none;
	margin-left:auto;
	margin-right:auto;
}
#js_averto {
	/* Tio ĉi aperas anstataŭ la lingvoelektilo se JavaScript ne disponeblas. */
	font-size:xx-small;
	position:fixed;
}
#supra-ujo {
	font-size:x-small;
	position:fixed;
	top:20px;
	left:20px;
}
#baza-ujo {
	font-size:x-small;
	position:fixed;
	bottom:20px;
	left:20px;
}
.query {
	/* Ne necesas kaŝi tion, ĉar la DIV defaŭlte estas malplena. */
	font-size:x-small;
	margin-left:40%;
	width:60%;
}
hr {
	margin: 25px;
	border: 0; 
	height: 1px; 
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(192, 192, 192, 0), rgba(192, 192, 192, 0.75), rgba(192, 192, 192, 0)); 
}
#videujo {
	display: inline-block;
	padding: 1px;
	background-color: #009900;
}

/*
@media 
only screen and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (max-width: 800px) {
	body {
		margin-left: 0;
		margin-right: 0;
	}
	#supra-ujo,#baza-ujo {
		position: static;
	}
}
@media 
only screen and (-webkit-min-device-pixel-ratio: 2) {
	body {
		-moz-text-size-adjust: 300%;
		-webkit-text-size-adjust: 300%;
		-ms-text-size-adjust: 300%;
		-o-text-size-adjust: 300%;
		text-size-adjust: 300%;
	}
	select#lingvo {
		font-size: large;
	}
		
		
}
*/
