/*
   original: https://github.com/pages-themes/hacker
*/

@import "rouge-base16-dark";

@font-face {
    font-family: 'OfficerSans';
    src: url(/fonts/OfficerSans/OfficerSansWeb-Regular.woff) format("woff"),
	 url(/fonts/OfficerSans/OfficerSansWeb-Regular.woff2) format("woff2");
    font-weight: regular;
    font-style: normal;
}
@font-face {
    font-family: 'OfficerSans';
    src: url(/fonts/OfficerSans/OfficerSansWeb-Bold.woff) format("woff"),
	 url(/fonts/OfficerSans/OfficerSansWeb-Bold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OfficerSans';
    src: url(/fonts/OfficerSans/OfficerSansWeb-RegularItalic.woff) format("woff"),
	 url(/fonts/OfficerSans/OfficerSansWeb-RegularItalic.woff2) format("woff2");
    font-weight: regular;
    font-style: italic;
}
@font-face {
    font-family: 'OfficerSans';
    src: url(/fonts/OfficerSans/OfficerSansWeb-BoldItalic.woff) format("woff"),
	 url(/fonts/OfficerSans/OfficerSansWeb-BoldItalic.woff2) format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
	font-family: 'Kario';
	src: URL('/fonts/Kario/Kario39C3Var-Roman.ttf') format('truetype');
	src: URL('/fonts/Kario/Kario39C3Var-Roman.woff') format('woff');
	src: URL('/fonts/Kario/Kario39C3Var-Roman.woff2') format('woff2');
}

$body-background: $cod-grey !default;
$body-foreground: $gallery !default;
$header: $conifer !default;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;

body {
  margin: 0;
  padding: 0;
  background: #141414;
  color: $body-foreground;
  font-size: 16px;
  line-height: 1.5;
  font-family: "OfficerSans";
}

/* General & 'Reset' Stuff */

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}


section {
  display: block;
  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

li {
  line-height: 1.4 ;
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  background: #141414;
  border-bottom: 1px dashed $conifer; //header;
  padding: 20px;
  margin: 0 0 40px 0;
}

.headline {
    text-align: center;
    font-family: Kario;
    font-size: 52pt;
    font-kerning: none;
    min-height: 5em;
}

@keyframes cycles {
    0% {font-weight: 10;}
    50% {font-weight: 100;}
    100% {font-weight: 10;}
}
@keyframes cycles-backwards {
    0% {font-weight: 100;}
    50% {font-weight: 10;}
    100% {font-weight: 100;}
}

#esperanto {
    color: #00ff00;
    text-transform: uppercase;
    animation: cycles 5s infinite;
}


@keyframes language-cycle {
    0% {font-weight: 10; opacity: 0;}
    10% {opacity: 1;}
    25% {font-weight: 100; opacity: 1;}
    50% {font-weight: 10; opacity: 1;}
    60% {opacity: 0;}
    100% {font-weight: 10; opacity: 0;}
}

#congress-title {
    color: #fff;
}

#congress-title > span:first-child {
    animation: cycles-backwards 5s infinite;
}
#congress-title > span:nth-child(2) {
    animation: cycles 5s infinite;
}

#congress-motto {
    position: relative;
    text-transform: uppercase;
}
#congress-motto > span {
    position: absolute;
    top: 0; left: 0; right:0;
}

#congress-motto > span:first-child {
    animation: language-cycle 10s infinite;
}
#congress-motto > span:nth-child(2) {
    animation: language-cycle 10s infinite;
    animation-delay: 5s;
    opacity: 0;
}



.header-links {
    text-align: center;
    font-family: Kario;
    font-size: larger;
    font-weight: 42;
}

.header-link {
    display: inline;
    font-family: Kario;
}

.header-links a::after {
    content: " ★";
    color: #00ff00;
}

.header-links a::after {
    content: " ★";
    color: #00ff00;
}

.header-links > a:first-child::before {
    content: "★ ";
    color: #00ff00;
}


header h1 {
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-family: "OfficerSans";
  color: $conifer;//$header;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px #00ff00,
               0 0 10px #00ff00;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #b69dfe;
}

a:link {
  text-decoration: none;
}

/* Main Content
*/

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "OfficerSans";
  color: $header;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px #30ff300f,
               0 0 10px #30ff300f,
}

#main_content h1 {
  font-size: 30px;
}

#main_content h2 {
  font-size: 24px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
    list-style-type: none;
}

ul li::before {
    content: ">> ";
    color: #30ff30;
}

blockquote {
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dotted $blockquote-border;
}

pre {
  background: #141414;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 16px;
  color: #00ff00;
  border-radius: 2px;
  text-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  background: rgba(0,0,0,0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #aa759f;
  border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #00ff00;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #00ff00;
  color: #00ff00;
}

/* Buttons
*/

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: "OfficerSans";
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: #B2AAFF;
  text-shadow: 0 0 5px #9673ff;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}

/* Make footer stick to bottom */

.pagination, footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

#wrapper {
  min-height: calc(100vh - 100px);
}
